<a href="https://colab.research.google.com/github/ErnestoFCh/Simulacion-I/blob/main/producto_medio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from tabulate import tabulate
x1=289
x2=310
tabla=[[]]
for i in range(50):
 tabla.append([i,x1,x2,x1*x2])
 j=len(str(x1*x2))/2

 if type(j)==int:
  k=str(0)+str(x1*x2)
  x1=x2
  x2=int(k[2:5])

 else:
  k=str(x1*x2)
  x1=x2
  x2=int(k[1:4])

print(tabulate(tabla,headers=['i','xn-1','xn','(xn-1)(xn)']))

  i    xn-1    xn    (xn-1)(xn)
---  ------  ----  ------------

  0     289   310         89590
  1     310   959        297290
  2     959   972        932148
  3     972   321        312012
  4     321   120         38520
  5     120   852        102240
  6     852    22         18744
  7      22   874         19228
  8     874   922        805828
  9     922    58         53476
 10      58   347         20126
 11     347    12          4164
 12      12   164          1968
 13     164   968        158752
 14     968   587        568216
 15     587   682        400334
 16     682     3          2046
 17       3    46           138
 18      46    38          1748
 19      38   748         28424
 20     748   842        629816
 21     842   298        250916
 22     298   509        151682
 23     509   516        262644
 24     516   626        323016
 25     626   230        143980
 26     230   439        100970
 27     439     9          3951
 28       9   951          8559
 29     951   559        531609
 30     559   316        176644
 31     316   766        242056
 32     766   420        321720
 33     420   217         91140
 34     217   114         24738
 35     114   473         53922
 36     473   392        185416
 37     392   854        334768
 38     854   347        296338
 39     347   963        334161
 40     963   341        328383
 41     341   283         96503
 42     283   650        183950
 43     650   839        545350
 44     839   453        380067
 45     453   800        362400
 46     800   624        499200
 47     624   992        619008
 48     992   190        188480
 49     190   884        167960